*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.App {
  width: 100%; }

#root {
  width: 100%; }

body {
  font-size: 1rem;
  font-family: 'Teko', sans-serif; }

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .game__message {
    font-size: 5rem; }

.board {
  display: flex;
  background: #0f2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  justify-content: space-around;
  margin-top: 3rem; }
  .board__column {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
  .board__slot {
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    margin: 0.5rem 0; }

.Red {
  background-color: #ffa9a9; }

.Yellow {
  background-color: #70f7d9; }

.white {
  background-color: rgba(255, 254, 254, 0.342); }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .header__title {
    font-size: 5rem; }
  .header .display {
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .header .display__player {
      text-decoration: underline;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .header .display__player-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .header .display__name {
      font-size: 2rem; }
    .header .display .form__button {
      border: 0.1rem solid black;
      background-color: white;
      font-family: 'Teko', sans-serif;
      font-size: 2rem;
      margin-top: 1rem;
      padding: 0.3rem; }
    .header .display form {
      display: flex;
      flex-direction: column; }
      .header .display form ::-webkit-input-placeholder {
        text-align: center; }
      .header .display form :-moz-placeholder {
        /* Firefox 18- */
        text-align: center; }
      .header .display form ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center; }
      .header .display form :-ms-input-placeholder {
        text-align: center; }
      .header .display form input {
        border: none;
        border-bottom: 0.1rem solid grey;
        margin-top: 1rem;
        transition: all 0.2s;
        font-family: 'Teko', sans-serif;
        font-size: 2rem; }
        .header .display form input:focus {
          outline: none;
          border-bottom: 0.2rem solid black; }
        .header .display form input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: black;
          font-family: 'Teko', sans-serif;
          font-size: 2rem; }
        .header .display form input::-moz-placeholder {
          /* Firefox 19+ */
          color: black;
          font-family: 'Teko', sans-serif;
          font-size: 2rem; }
        .header .display form input:-ms-input-placeholder {
          /* IE 10+ */
          color: black;
          font-family: 'Teko', sans-serif;
          font-size: 2rem; }
        .header .display form input:-moz-placeholder {
          /* Firefox 18- */
          color: black;
          font-family: 'Teko', sans-serif;
          font-size: 2rem; }
    .header .display__center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }

.display__player-color {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
